# string based question

1. Write a program to reverse a string.

In [1]:
def reverse(string):
    new_string=string[::-1]
    return new_string
reverse('python')

'nohtyp'

2. Check if a string is a palindrome.

In [2]:
def palindrome(s):
    string=s.lower()
    if (string ==string[::-1]):
        return ('string is palidrome')
    else:
        return ('string is not palidrome')

print( palindrome('Pdp'))
print(palindrome('pdf'))

string is palidrome
string is not palidrome

3. Convert a string to uppercase.

In [3]:
def uppercase(string):
     return string.upper()
    
uppercase('pip')

'PIP'

4. Convert a string to lowercase.

In [4]:
def lowercase(string):
     return string.lower()
lowercase("PIP")

'pip'

5. Count the number of vowels in a string.

In [5]:
def vowel_count(string):
    v=0
    vowel='aeiouAEIOU'
    for i in string:
        if i in vowel:
            v+=1
        
    return (print('number of voewl is :',v))
vowel_count('aa bb ii')

number of voewl is : 4

6. Count the number of consonants in a string.

In [6]:
def consonant_count(string):
    c=0
    vowel='aeiouAEIOU'
    for i in string:
        if i not in vowel and i.isalpha():
            c+=1
        
    return (print('Number of consonent is :',c))
consonant_count('aa bb cc ii')

Number of consonent is : 4

7. Remove all whitespaces from a string.

In [7]:
def remove_whitespace(s):
    return (print('string without whitespaces :',s.replace(' ','')))
remove_whitespace('aa bb cc ii')

string without whitespaces : aabbccii

8. Find the length of a string without using the `len()` function.

In [8]:
def length(string):
    s=0
    for i in string:
        s+=1
    return (print('length of string is : ',s))
length('string')

length of string is :  6

9. Check if a string contains a specific word.

In [9]:
string=str(input('enter a string :'))
word=str(input('enter a word you want check : '))

if word in string:
    print(f'string contains a specific word  {word}')
else:
    print(f'string contains not a specific word  {word}')

enter a string :i love my india
enter a word you want check : my
string contains a specific word  my

10. Replace a word in a string with another word.

In [10]:
string=str(input('enter a string :'))
word=str(input('enter a word you want replace : '))
new_word=str(input('enter a new word : '))
if word in string:
    str1=string.replace(word,new_word)
    print(f'new string is : {str1}')
else:
    ('word is not present in string')

enter a string :this is python and data science class
enter a word you want replace : class
enter a new word : lecture
new string is : this is python and data science lecture

11. Count the occurrences of a word in a string.

In [11]:
def occurrence_of_word(string,word):
    count=0
    s=string.split()
    for i in s:
        if i==word:
            count+=1
    return (print(f'{word} is present  {count} times in string'))
occurrence_of_word('this is a python  class & i realy enjoy class','class')

class is present  2 times in string

12. Find the first occurrence of a word in a string.

In [12]:
string='this is a python  class & i realy enjoy class'
word='class'
print(f"first occurrence of a '{word}' in a string  {string.find(word)}")

first occurrence of a 'class' in a string  18

13. Find the last occurrence of a word in a string.

In [13]:
string='this is a python  class & i realy enjoy class'
word='class'
print(f"first occurrence of a '{word}' in a string  {string.rfind(word)}")

first occurrence of a 'class' in a string  40

14. Split a string into a list of words.

In [14]:
def split_string(string):
    return string.split()
split_string(string)

['this', 'is', 'a', 'python', 'class', '&', 'i', 'realy', 'enjoy', 'class']

15. Join a list of words into a string.

In [15]:
def join_a_string(string):
    return ' '.join(string)
word=['this', 'is', 'a', 'python', 'class', '&', 'i', 'realy', 'enjoy', 'class']
join_a_string(word)

'this is a python class & i realy enjoy class'

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
def convert_a_string(string):
    underscore=string.replace(' ',"_")
    return underscore
string='this is a python  class & i realy enjoy class'
convert_a_string(string)

'this_is_a_python__class_&_i_realy_enjoy_class'

17. Check if a string starts with a specific word or phrase.

In [17]:
def start_with(string,text):
    start=string.startswith(text)
    return start
string='this is a python  class & i realy enjoy class'
text='this'
start_with(string,text)

True

18. Check if a string ends with a specific word or phrase.

In [18]:
def ends_with(string,text):
    start=string.endswith(text)
    return start
string='this is a python  class & i realy enjoy class'
text='this'
ends_with(string,text)

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
def convert_a_string(string):
    return string.title()
string= "hello world" 
convert_a_string(string)

'Hello World'

20. Find the longest word in a string.

In [20]:
string='this is a python  class & i realy enjoy class'
split_str=string.split()
word = ""
max_length = 0
for i in split_str:
        if len(i) > max_length:
            max_length = len(i)
            longest_word = i

print(' longest word in a string  :  ',longest_word)

 longest word in a string  :   python

21. Find the shortest word in a string.

In [21]:
string='this is a python class'
split_str=string.split()
word = ""
max_length = float('inf')
for i in split_str:
        if len(i) < max_length:
            max_length = len(i)
            smallest_word = i

print('smallest word in a string  :  ',longest_word)

smallest word in a string  :   python

22. Reverse the order of words in a string.

In [22]:
def reversed_word(string):
    split_str=string.split()
    s=reversed(split_str)
    # s=split_str[::-1]
    print(' '.join(s))
string='this is a python class'
reversed_word(string)

class python a is this

23. Check if a string is alphanumeric.

In [23]:
def alphanumeric(string):
    return string.isalnum()
alphanumeric('wgfy')

True

24. Extract all digits from a string.

In [24]:
def digit(string):
    digit=''
    for i in string:
        if i.isdigit():
            digit+=i
    print(digit)
string='this is a python class 35 74 6998'
digit(string)

35746998

25. Extract all alphabets from a string.

In [25]:
def alpha(string):
    alphabet=''
    for i in string:
        if i.isalpha():
            alphabet+=i
    return alphabet
string='This is a python class 35 74 6998'
alpha(string)

'Thisisapythonclass'

26. Count the number of uppercase letters in a string.

In [26]:
def count_uppercase(string):
    count=0
    for i in string:
        if i.isupper():
            count+=1
    return 'total number of uppercase',count
string='TTT NN dfhk'
count_uppercase(string)

('total number of uppercase', 5)

27. Count the number of lowercase letters in a string.

In [27]:
def count_lowercase(string):
    count=0
    for i in string:
        if i.islower():
            count+=1
    return 'total number of uppercase',count
string='TTT NN dfhk'
count_lowercase(string)

('total number of uppercase', 4)

28. Swap the case of each character in a string.

In [28]:
def swap_case(string):
    return string.swapcase()
string='TTT NN dfhk'
swap_case(string)

'ttt nn DFHK'

29. Remove a specific word from a string.

In [29]:
def remove_specific_word(string,word):
        if word  in string :
            return (print("modified string is : ",string.replace(word,'')))
string='this is a python class 35 74 6998'
word='python'
remove_specific_word(string,word)

modified string is :  this is a  class 35 74 6998

30. Check if a string is a valid email address

In [30]:
import re

def check(email):
    pattern = '^[\w.]+@+[\w]+[.]+\w{2,3}'

    if(re.search(pattern,email)):
        print("Valid Email")
    else:
        print("Invalid Email")
email = "rohit.gupta@mcnsolutions.net"
check(email)

email = "praveen@c-sharpcorner.com"
(check(email))


email = "inform2atul@gmail.com"
check(email)

Valid Email
Invalid Email
Valid Email

31. Extract the username from an email address string.

In [31]:
def extract_username(email):
    string=email.split('@')
    return string[0]

email = "inform2atul@gmail.com"
extract_username(email)

'inform2atul'

32. Extract the domain name from an email address string.

In [32]:
def extract_username(email):
    string=email.split('@')
    return string[1]
email = "inform2atul@gmail.com"
extract_username(email)

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [33]:
def replace_multiple_spaces(str):
    string=str.split()
    return ' '.join(string)
string='remove multiple    spaces' 
replace_multiple_spaces(string)

'remove multiple spaces'

34. Check if a string is a valid URL.

In [34]:
def check_url(string):
    x=string.split()
    for i in x:
        if i.startswith("https:") or i.startswith("http:"):
            print('valid url ')
        else: 
            print('invalid url')
string='http://google.com'
check_url(string)

valid url

35. Extract the protocol (http or https) from a URL string.

In [35]:
def extract_protocol(url):
    string=url.split('://')
    return string[0]
url1 = "ftp://www.myself.com"
url2 = "http://google.com"
print(extract_protocol(url1))
print(extract_protocol(url2))

ftp
http

36. Find the frequency of each character in a string.

In [36]:
string=''' Twinkle, twinkle, little star,

 How I wonder what you are!
  Up above the world so high,
 Like a diamond in the sky.'''

words=string.split(' ')
new_list=[]
for i in words:
    if '\n' in i:
        new_list.append(i.replace('\n',''))
    else:
        new_list.append(i)

exist=[]
for i in new_list:
    if i not in exist:
        print(f'Count of {i} is  = {new_list.count(i)}')
        exist.append(i)

Count of  is  = 2
Count of Twinkle, is  = 1
Count of twinkle, is  = 1
Count of little is  = 1
Count of star, is  = 1
Count of How is  = 1
Count of I is  = 1
Count of wonder is  = 1
Count of what is  = 1
Count of you is  = 1
Count of are! is  = 1
Count of Up is  = 1
Count of above is  = 1
Count of the is  = 2
Count of world is  = 1
Count of so is  = 1
Count of high, is  = 1
Count of Like is  = 1
Count of a is  = 1
Count of diamond is  = 1
Count of in is  = 1
Count of sky. is  = 1

37. Remove all punctuation from a string.

In [37]:
def remove_punctuation(string):
    punctuation='''`~!@#$%^&*';:'""\|,./?.-/'''
    for i in string:
        if i in punctuation:
            string=string.replace(i,' ')
    print('string after punctuation is : ' ,string)
remove_punctuation(string)

string after punctuation is :   Twinkle  twinkle  little star

 How I wonder what you are
  Up above the world so high
 Like a diamond in the sky

38. Check if a string contains only digits.

In [38]:
def only_digit(string):
    return string.isdigit()
only_digit('12364r7')

False

39. Check if a string contains only alphabets.

In [39]:
def only_alphabet(string):
    return string.isalpha()
string='hdslsifo'
only_alphabet(string)

True

40. Convert a string to a list of characters.

In [40]:
string='23jff89kd'
list(string)

['2', '3', 'j', 'f', 'f', '8', '9', 'k', 'd']

41. Check if two strings are anagrams.

In [41]:
def anagram(string1,string2):
    string1=string1.lower().replace(" ","")
    string1=string1.lower().replace(" ","")
    if sorted(string1)==sorted(string2):
        print('anagrams')
    else:
        print('not anagram')
A='Brush'
B='shrub'
C='risk'
D='king'
anagram(A,B)
anagram(C,D)

anagrams
not anagram

42. Encode a string using a Caesar cipher.

In [42]:
def caesar_cipher(text, shift):
    encoded_text = ''
    for char in text:
        if char.isalpha():  
            shifted = ord(char) + shift
            if char.islower():
                if shifted > ord('z'):
                    shifted -= 26
                elif shifted < ord('a'):
                    shifted += 26
            elif char.isupper():
                if shifted > ord('Z'):
                    shifted -= 26
                elif shifted < ord('A'):
                    shifted += 26
            encoded_text += chr(shifted)
        else:
            encoded_text += char
    return encoded_text


text = "Hello, World!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded:", encoded_text)

Encoded: Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [43]:
def caesar_decipher(encoded_text, shift):
    decoded_text = ''
    for char in encoded_text:
        if char.isalpha():  # Check if the character is an alphabet
            shifted = ord(char) - shift
            if char.islower():
                if shifted < ord('a'):
                    shifted += 26
                elif shifted > ord('z'):
                    shifted -= 26
            elif char.isupper():
                if shifted < ord('A'):
                    shifted += 26
                elif shifted > ord('Z'):
                    shifted -= 26
            decoded_text += chr(shifted)
        else:
            decoded_text += char
    return decoded_text

encoded_text = "Khoor, Zruog!"
print("text : ",encoded_text)
shift = 3
decoded_text = caesar_decipher(encoded_text, shift)
print("Decoded:", decoded_text)  # Prints "Hello, World!"

text :  Khoor, Zruog!
Decoded: Hello, World!

44. Find the most frequent word in a string.

In [44]:
string = "india is my country and all Indians are my brothers and sisters. a a a a a a a b b b b b c c  c c  ?"
def most_frequent(string):
    stringList = string.split()
    a = 0
    Most = 0
    for i in stringList:
        if stringList.count(i)>=a:
            a = stringList.count(i)
            Most = i
    print(f"second most repeated word is '{Most}'  ")
most_frequent(string)

second most repeated word is 'a'

45. Find all unique words in a string.

In [45]:
def find_unique(string):
    word=string.split()
    unique=''
    for i in word: 
        unique=set(word)
    print(unique)
string=' abc abc asd gds tyh gds'
find_unique(string)

{'abc', 'gds', 'asd', 'tyh'}

46. Count the number of syllables in a string.

In [46]:
def syllable_count(word):
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for i in range(1, len(word)):
        if word[i] in vowels and word[i - 1] not in vowels:
            count += 1
            
    if count == 0:
        count += 1
    return count
word1='syllable'
word2='examination'
print(f'number of syllable of {word1} is : {syllable_count(word1)}')
print(f'number of syllable of {word2} is : {syllable_count(word2)}')

number of syllable of syllable is : 3
number of syllable of examination is : 5

47. Check if a string contains any special characters.

In [47]:
def special_char(str1):
    str1.split()
    char = 0
    special = '[@_!#$%^&*()<>?/\|}{~:]' 
    for i in range(len(str1)):
        if str1[i] in special:
            char+= 1  
    if char:
        print("string contains special character")
    else:
        print("string not contains any special character")
string1 = "hello , vikash!"
string2 = "i love my india."
special_char(string1)
special_char(string2)

string contains special character
string not contains any special character

48. Remove the nth word from a string.

In [48]:
def remove_nth_word(str1,n):
    new_string=[]
    for i in range(len(str1)):
        if i==n:
            pass
        else:
            new_string.append (str1[i])
    print(''.join(new_string))
string ="Hello, have a good day"
n=4
remove_nth_word(string,n)

Hell, have a good day

49. Insert a word at the nth position in a string.

In [49]:
def insert_word(str1,n,str_to_insert):
    return string[:n] + str_to_insert + ' '+ string[n:]
    
string ="Hello, have a good day"
n=7
insert_word(string,n,'hii')

'Hello, hii have a good day'

50. Convert a CSV string to a list of lists.

In [50]:
def csv_string_to_list(string):
    str1=string.split('\n')
    result = []
    for i in str1:
        x = i.split(',')
        result.append(x)

    return result


data = "Name, emp_Id, Salary\naditya, 001, 60000\n ajay, 004, 70000\nramesh, 0022, 45000"

csv_string_to_list(data)

[['Name', ' emp_Id', ' Salary'],
 ['aditya', ' 001', ' 60000'],
 [' ajay', ' 004', ' 70000'],
 ['ramesh', ' 0022', ' 45000']]

# list based question

1. Create a list with integers from 1 to 10.

In [51]:
lis=list(range(1,11))
lis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [52]:
count=0
for i in lis:
    count+=1
print(count)

10

3. Append an element to the end of a list.

In [53]:
lis=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis.append(12)
lis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

4. Insert an element at a specific index in a list.

In [54]:
lis=[10,45,50,60,40]
index=2
lis.insert(index,20)
lis

[10, 45, 20, 50, 60, 40]

5. Remove an element from a list by its value.

In [55]:
lis=[10,45,50,60,40]
value=50
lis.remove(value)
lis

[10, 45, 60, 40]

6. Remove an element from a list by its index.

In [56]:
lis=[10,45,50,60,40]
index=1
lis.pop(index)
lis

[10, 50, 60, 40]

7. Check if an element exists in a list.

In [57]:
def  element_exists(l1,n):
    if n in l1:
        print('element present list')
    else:
        print('element not present list')
lis=[10,45,50,60,40]
n=45
element_exists(lis,n)

element present list

8. Find the index of the first occurrence of an element in a list.

In [58]:
lis=[10,45,50,60,40,45]
lis.index(45)

1

9. Count the occurrences of an element in a list.

In [59]:
lis=[1,0,4,5,6,5,9,8,4,5]
lis.count(5)

3

10. Reverse the order of elements in a list.

In [60]:
lis=[10,45,50,60,40]
lis[::-1]

[40, 60, 50, 45, 10]

11. Sort a list in ascending order.

In [61]:
lis=[10,45,50,60,40]
lis.sort()
print('sorted list in ascending order is:', lis)

sorted list in ascending order is: [10, 40, 45, 50, 60]

12. Sort a list in descending order.

In [62]:
lis=[10,45,50,60,40]
lis.sort()
print('sorted list in decending order is:', lis[::-1])

sorted list in decending order is: [60, 50, 45, 40, 10]

13. Create a list of even numbers from 1 to 20.

In [63]:
even=[]
for i in range(1,21):
    if i%2==0:
        even.append(i)
print('list of even number from 1,20 ',even)

list of even number from 1,20  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [64]:
odd=[]
for i in range(1,21):
    if i%2==1:
        odd.append(i)
print('list of odd number from 1,20 ',odd)

list of odd number from 1,20  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [65]:
list1=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
sum(list1)

110

16. Find the maximum value in a list.

In [66]:
list1=[2, 4, 6, 8, 10, 21, 14, 16, 18, 20]
max(list1)

21

17. Find the minimum value in a list.

In [67]:
lis=[10,45,50,60,40]
min(lis)

10

18. Create a list of squares of numbers from 1 to 10.

In [68]:
square=[i*i for i in range(1,11)]
print('list of squares of numbers from 1 to 10 is',square)

list of squares of numbers from 1 to 10 is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [69]:
import random
 
random_list=[]
for i in range(10):
    random_list.append(random.randint(20,50))
print('random list is : ',random_list)

random list is :  [43, 31, 24, 36, 24, 32, 33, 32, 46, 27]

20. Remove duplicates from a list.

In [70]:
l1=[43, 46, 27, 27, 26, 42, 20, 48, 34, 26]
l2=list(set(l1))
print('list after removing duplicate : ',l2)

list after removing duplicate :  [34, 42, 43, 46, 48, 20, 26, 27]

21. Find the common elements between two lists.

In [71]:
l1=[43, 46, 27, 32, 26, 42, 20, 48, 34, 26]
l2=[34, 42, 43,78,56]
l3=[]
for i in l1:
    if i in l2:
        l3.append(i)
print("common item in two list ", l3)

common item in two list  [43, 42, 34]

22. Find the difference between two lists.

In [72]:
l1=[43, 46, 27, 32, 26, 42, 20, 48, 34, 26]
l2=[34, 42, 43,78,56]
l3=[]
for i  in l1:
    if i not in l2:
        l3.append(i)
print("different of two list : ",l3)

different of two list :  [46, 27, 32, 26, 20, 48, 26]

23. Merge two lists.

In [73]:
l1=[43, 46, 27, 32, 26, 42, 20, 48, 34, 26]
l2=[34, 42, 43,78,56]
merge_list=l1+l2
print('merged list is : ',merge_list)

merged list is :  [43, 46, 27, 32, 26, 42, 20, 48, 34, 26, 34, 42, 43, 78, 56]

24. Multiply all elements in a list by 2.

In [74]:
l2=[34, 42, 43,78,56]
new_list=[i*2 for i in l2]
print((new_list))

[68, 84, 86, 156, 112]

25. Filter out all even numbers from a list

In [75]:
l2=[34, 41, 43,78,56]
new_list=[]
for i in l2:
    if i %2==1:
        new_list.append(i)
        
print((new_list))

[41, 43]

26. Convert a list of strings to a list of integers.

In [76]:
l1=['34', '41', '43','78','56']

l2 = [int(i) for i in l1]

print("List of integers:", l2)

List of integers: [34, 41, 43, 78, 56]

27. Convert a list of integers to a list of strings.

In [77]:
l1=[34, 41, 43,78,56]

l2 = [str(i) for i in l1]

print("List of integers:", l2)

List of integers: ['34', '41', '43', '78', '56']

28. Flatten a nested list.

In [78]:
originl_list=[[3,6,3],[12,13,15],[11,21,31],[23,32,24]]
flatten_list=[]
for i in originl_list:
    for j in i:
        flatten_list.append(j)
print(flatten_list)

[3, 6, 3, 12, 13, 15, 11, 21, 31, 23, 32, 24]

29. Create a list of the first 10 Fibonacci numbers.

In [79]:
def fibonacci_numbers(n):
    fibo= [0,1]
    for i in range(n-2):
        fibo.append(fibo[i]+fibo[i+1])
    return fibo
n=10
fibonacci_numbers(n)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [80]:
def list_is_soted(l1):
    for i in range(1,len(l1)):
        if l1[i] < l1[i-1]:
            return False
        else:
            return True
l1=[8, 13, 21, 34]
list_is_soted(l1)

True

31. Rotate a list to the left by `n` positions.

In [81]:
l1=[10,20,30,40,60,70,90]
n=3
rotate=l1[n:]+l1[:n]
rotate

[40, 60, 70, 90, 10, 20, 30]

32. Rotate a list to the right by `n` positions.

In [82]:
l1=[10,20,30,40,60,70,90]
n=3
rotate=l1[-n:]+l1[:-n]
rotate

[60, 70, 90, 10, 20, 30, 40]

33. Create a list of prime numbers up to 50.

In [83]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes
prime_numbers(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [84]:
def split_chunks(lst,n):
    for i in range(0,len(lst),n):
        yield lst[i:i+n]
lst=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
n=3
list(split_chunks(lst,n))

[[2, 3, 5], [7, 11, 13], [17, 19, 23], [29, 31, 37], [41, 43, 47]]

35. Find the second largest number in a list.

In [85]:
lst=[2, 3, 5, 7, 11, 53, 87, 19, 23, 29, 31, 37, 41, 43, 47]
second_most=sorted(lst)
print('second laegst number is :',second_most[-2])

second laegst number is : 53

36. Replace every element in a list with its square.

In [86]:
lst=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
lst=[i*i for i in lst]
print(lst)

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [87]:
def list_to_dict_with_index(lst):
    dict_with_index = {key: value for key, key in enumerate(lst)}
    return dict_with_index

lst=['ram','shyam','mohan','krishna']
list_to_dict_with_index(lst)

{'ram': 50, 'shyam': 50, 'mohan': 50, 'krishna': 50}

38. Shuffle the elements of a list randomly.

In [88]:
lst=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
random.shuffle(lst)
print('randomly suffle list : ',lst)

randomly suffle list :  [3, 43, 31, 37, 17, 5, 11, 7, 23, 19, 29, 13, 47, 41, 2]

39. Create a list of the first 10 factorial numbers.

In [89]:
def factorial(n):
    fact = 1
    for factor in range(1, n + 1):
        fact *= factor
    return fact
factorial_numbers = [factorial(i) for i in range(10)]        
factorial_numbers

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [90]:
l1=[2, 6, 24, 120, 720]
l2=[3,4,24]
def check_elemnt(l1,l2):
    for i in l1:
        if i in l2:
            return print('list have common element ')
    return print( "list don't have common element")
check_elemnt(l1,l2)

list have common element

41. Remove all elements from a list.

In [91]:
l1=[2, 6, 24, 120, 720]
l1.clear()
l1

[]

42. Replace negative numbers in a list with 0.

In [92]:
l1=[2, 6, -24, -120, 720]
for i in range(len(l1)):
    if l1[i]<0:
        l1[i]=0
l1

[2, 6, 0, 0, 720]

43. Convert a string into a list of words.

In [93]:
string = "Convert a string into a list of words"
lst = string.split()
lst

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

44. Convert a list of words into a string.

In [94]:
lst=['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']
string=' '.join(lst)
string

'Convert a string into a list of words'

45. Create a list of the first `n` powers of 2.

In [95]:
n=4
lst=[2**i for i in range(n)]
print( f'list of the first {n} powers of 2   {lst}')

list of the first 4 powers of 2   [1, 2, 4, 8]

46. Find the longest string in a list of strings.

In [96]:
string=['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']
longest_string=max(string, key=len)
print(' longest string in a list : ',longest_string)

 longest string in a list :  Convert

47. Find the shortest string in a list of strings.

In [97]:
string=['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']
shortest_string=min(string, key=len)
print(' shortest string in a list : ',shortest_string)

 shortest string in a list :  a

48. Create a list of the first `n` triangular numbers.

In [98]:
def traingular_number(n):
    lst=[int((i*(i+1))/2) for i in range(n)]
    print(f' triangular numbers of first {n} is {lst}')
n=5
traingular_number(n)

 triangular numbers of first 5 is [0, 1, 3, 6, 10]

49. Check if a list contains another list as a subsequence.

In [99]:
def subsequence(subset, lst):
    subset_index = 0  
    for i in lst:
        if i == subset[subset_index]:
            subset_index += 1
            if subset_index== len(subset):
                return True
    return False

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subset = [2, 3, 8]
subsequence(subset,lst)

True

50. Swap two elements in a list by their indices.

In [100]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]#swap index 1 & 5
lst[1],lst[5]=lst[5],lst[1]
lst

[1, 6, 3, 4, 5, 2, 7, 8, 9, 10]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [101]:
Tuple=1,2,3,4,5
print('tuple is : ',Tuple)

tuple is :  (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [102]:
Tuple=1,2,3,4,5
print('third element of tuple is : ',Tuple[2])

third element of tuple is :  3

3. Find the length of a tuple without using the `len()` function.

In [103]:
Tuple=1,2,3,4,5
print('len of tuple is : ',len(Tuple))

len of tuple is :  5

4. Count the occurrences of an element in a tuple.

In [104]:
tuple1=(23,7,8,9,6,4,5,6,6,2,3,12)
n=6
count=0
for i in tuple1:
    if i==n:
        count+=1
print(f'count of {n} in this tuple is {count}')

count of 6 in this tuple is 3

5. Find the index of the first occurrence of an element in a tuple.

In [105]:
tuple1=(23,7,8,9,6,4,5,6,6,2,3,12)
tuple1.index(6)

4

6. Check if an element exists in a tuple.

In [106]:
tuple1=(23,7,8,9,6,4,5,6,6,2,3,12)
element=1
if element in tuple1:
    print("element exist in tuple")
else:
    print("element not exist in tuple")

element not exist in tuple

7. Convert a tuple to a list.

In [107]:
tuple1=(23,7,8,9,6,4,5,6,6,2,3,12)
print('converted tuple to list',list(tuple1))

converted tuple to list [23, 7, 8, 9, 6, 4, 5, 6, 6, 2, 3, 12]

8. Convert a list to a tuple.

In [108]:
lst=[23, 7, 8, 9, 6, 4, 5, 6, 6, 2, 3, 12]
print('converted list to tuple',tuple(lst))

converted list to tuple (23, 7, 8, 9, 6, 4, 5, 6, 6, 2, 3, 12)

9. Unpack the elements of a tuple into variables.

In [109]:
tup=(10,20,30,40)
var1,var2,var3,var4=tup
print('variable 1 :',var1)
print('variable 2 :',var2)
print('variable 3 :',var3)
print('variable 4 :',var4)

variable 1 : 10
variable 2 : 20
variable 3 : 30
variable 4 : 40

10. Create a tuple of even numbers from 1 to 10.

In [110]:
even=tuple(i for i in range(1,11) if i%2==0)
print(even)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [111]:
even=tuple(i for i in range(1,11) if i%2!=0)
print(even)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [112]:
T1=(2, 4, 6, 8, 10)
T2=(1, 3, 5, 7, 9)
print('Concatenate two tuples : ',T1+T2)

Concatenate two tuples :  (2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [113]:
T1=(2, 4, 6, 8, 10)
reapeted_tuple=T1*3
print('three times reapeted tuple is: ',reapeted_tuple)

three times reapeted tuple is:  (2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

14. Check if a tuple is empty.

In [114]:
tuple1=()
if not tuple1:
    print("tuple is empty.")
else:
    print("tuple is not empty.")

tuple is empty.

15. Create a nested tuple.

In [115]:
T1=((2,4,6),(3,5,7),('a','b','c'),('x','y','z'))
print('nested tuple is: ',T1)

nested tuple is:  ((2, 4, 6), (3, 5, 7), ('a', 'b', 'c'), ('x', 'y', 'z'))

16. Access the first element of a nested tuple.

In [116]:
T1=((2,4,6),(3,5,7),('a','b','c'),('x','y','z'))
print('first element of a nested tuple is : ',T1[0])

first element of a nested tuple is :  (2, 4, 6)

17. Create a tuple with a single element.

In [117]:
T1=(2,)
print('single element tuple is: ',T1)

single element tuple is:  (2,)

18. Compare two tuples.

In [118]:
T1=(2, 4, 6, 8, 10)
T2=(1, 3, 5, 7, 9)
print("T1==T2:", T1==T2)  # Equality check
print("T1!=T2:", T1!=T2)  # Inequality check
print("T1<T2: ", T1<=T2)    # Less than check
print("T1<=T2:", T1<=T2)  # Less than or equal to check
print("T1>T2: ", T1>=T2)    # Greater than check
print("T1>=T2:",T1>=T2)  # Greater than or equal to check

T1==T2: False
T1!=T2: True
T1<T2:  False
T1<=T2: False
T1>T2:  True
T1>=T2: True

19. Delete a tuple.

In [119]:
T1=((2,4,6),(3,5,7),('a','b','c'),('x','y','z'))
del T1
T1

NameError: name 'T1' is not defined

20. Slice a tuple.

In [120]:
tuples=(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
tuples[3:7]

(8, 10, 1, 3)

21. Find the maximum value in a tuple.

In [121]:
T1=(11, 53, 87, 19, 23, 29, 31, 37, 41, 43, 47)
print(' maximum value in a tuple : ',max(T1))

 maximum value in a tuple :  87

22. Find the minimum value in a tuple.

In [122]:
T1=(11, 53, 87, 19, 23, 29, 31, 37, 41, 43, 47)
print(' minimum value in a tuple : ',min(T1))

 minimum value in a tuple :  11

23. Convert a string to a tuple of characters.

In [123]:
string= 'abc asd gds'
print('a string to a tuple : ',tuple(string))

a string to a tuple :  ('a', 'b', 'c', ' ', 'a', 's', 'd', ' ', 'g', 'd', 's')

24. Convert a tuple of characters to a string.

In [124]:
T1=('a', 'b', 'c', ' ', 'a', 's', 'd', ' ', 'g', 'd', 's')
print('a tuple  to a string : ',''.join(T1))

a tuple  to a string :  abc asd gds

25. Create a tuple from multiple data types.

In [125]:
T2=(4,3.14,0,'tuple',True,5j,[7,8,0])
print('tuple from multiple data types',T2)

tuple from multiple data types (4, 3.14, 0, 'tuple', True, 5j, [7, 8, 0])

26. Check if two tuples are identical.

In [126]:
T1=(2, 3, 6, 4)
T2=(2, 3, 6, 4)
if T1==T2:
    print('tuple are identical')
else:
    print('tuple are not identical')

tuple are identical

27. Sort the elements of a tuple.

In [127]:
T1=(11, 53, 87, 19, 23, 29, 31, 37, 41, 43, 47)
print(' sorted tuple : ',sorted(T1))

 sorted tuple :  [11, 19, 23, 29, 31, 37, 41, 43, 47, 53, 87]

28. Convert a tuple of integers to a tuple of strings.

In [128]:
T1=(11, 53, 87, 19, 23, 29, 31, 37, 41, 43, 47)
tup=tuple((str(i)) for i in T1)
print(' tuple of integers to a tuple of strings: ',tup)

 tuple of integers to a tuple of strings:  ('11', '53', '87', '19', '23', '29', '31', '37', '41', '43', '47')

29. Convert a tuple of strings to a tuple of integers.

In [129]:
T1= ('11', '53', '87', '19', '23', '29', '31', '37', '41', '43', '47')
tup=tuple((int(i)) for i in T1)
print(' tuple of strings to a tuple of integers: ',tup)

 tuple of strings to a tuple of integers:  (11, 53, 87, 19, 23, 29, 31, 37, 41, 43, 47)

30. Merge two tuples.

In [130]:
T1=(2, 4, 6, 8, 10)
T2=(1, 3, 5, 7, 9)
merge_tuple=T1+T2
print('merged tuple : ', merge_tuple)

merged tuple :  (2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

31. Flatten a nested tuples

In [131]:
T1=((11, 53, 87),( 19, 23, 29),( 31, 37,78) ,(41, 43, 47))
flatten_tuple=[]
for i in T1:
    for j in i:
        flatten_tuple.append(j)

print("flatten tuple :",tuple(flatten_tuple))

flatten tuple : (11, 53, 87, 19, 23, 29, 31, 37, 78, 41, 43, 47)

32. Create a tuple of the first 5 prime numbers.

In [132]:
def prime_number(n):
    prime=[]
    for i in range(2, n+1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j==0:
                break
        else:
            prime.append(i)
    return tuple(prime[:5])
print("first 5 prime numbers in tuple are : ",prime_number(50))

first 5 prime numbers in tuple are :  (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [133]:
T2=(1, 3, 5, 7, 9)
if T2==T2[::-1]:
    print('tuple is a palindrome ')
else:
    print('tuple is a not palindrome')

tuple is a not palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [134]:
square=tuple(i**2 for i in range(1,6))
print(' squares of numbers from 1 to 5 :',square)

 squares of numbers from 1 to 5 : (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [135]:
def even_number(n):
    even=[]
    for i in n:
        if i%2==0:
            even.append(i)
    return tuple(even)
T1= (11, 53, 87, 20, 23, 29, 32, 37, 78, 41, 46, 47)
print("even number :",even_number(T1))

even number : (20, 32, 78, 46)

36. Multiply all elements in a tuple by 2.

In [136]:
T1= (11, 53, 87, 20, 23, 29)
T2=T1*2
print('Multiply all elements in a tuple by 2 :',T2)

Multiply all elements in a tuple by 2 : (11, 53, 87, 20, 23, 29, 11, 53, 87, 20, 23, 29)

37. Create a tuple of random numbers.

In [137]:
import random
tup=tuple(random.randint(1,30) for i in range(5))
tup

(1, 23, 30, 13, 9)

38. Check if a tuple is sorted.

In [138]:
T1= (11, 53, 87, 20, 23, 29)
if T1==sorted(T1):
    print('tuple is sorted')
else:
     print('tuple is not sorted')

tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [141]:
def rotate_tuple_left(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)  
    return tuple_to_rotate[n:] + tuple_to_rotate[:n]


T1= (11, 53, 87, 20, 23, 29)
n = 2
rotated_tuple = rotate_tuple_left(T1, n)
print("Original Tuple:", T1)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (11, 53, 87, 20, 23, 29)
Rotated Tuple: (87, 20, 23, 29, 11, 53)

40. Rotate a tuple to the right by `n` positions.

In [145]:
def rotate_tuple_right(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)  
    return tuple_to_rotate[-n:] + tuple_to_rotate[:-n]


T1= (11, 53, 87, 20, 23, 29)
n = 2
rotated_tuple = rotate_tuple_left(T1, n)
print("Original Tuple:", T1)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (11, 53, 87, 20, 23, 29)
Rotated Tuple: (23, 29, 11, 53, 87, 20)

41. Create a tuple of the first 5 Fibonacci numbers.

In [146]:
def fibonacci_numbers(n):
    fibo= [0,1]
    for i in range(n-2):
        fibo.append(fibo[i]+fibo[i+1])
    return tuple(fibo)
n=5
print(' first 5 Fibonacci numbers : ',fibonacci_numbers(n))

 first 5 Fibonacci numbers :  (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [148]:
T1=input('enter  element ')
print("User input tuple:", tuple(T1))

enter  element 12345
User input tuple: ('1', '2', '3', '4', '5')

43. Swap two elements in a tuple.

In [149]:
T1= (11, 53, 87, 20, 23, 29)#
lst=list(T1)
lst[3],lst[1]=lst[1],lst[3]
tuple(lst)

(11, 20, 87, 53, 23, 29)

44. Reverse the elements of a tuple.

In [150]:
T1= (11, 53, 87, 20, 23, 29)
T1[::-1]

(29, 23, 20, 87, 53, 11)

45. Create a tuple of the first `n` powers of 2.

In [152]:
n=eval(input ('enter the number whose power from first number : '))
tup=tuple(i**2 for i in range(n))
print(f" first {n} powers of 2 is {tup}")

enter the number whose power from first number : 5
 first 5 powers of 2 is (0, 1, 4, 9, 16)

46. Find the longest string in a tuple of strings.

In [153]:
tup=('cicle','rectangle','traingle','square')
print("longest string in a tuple of strings : ",max(tup, key=len))

longest string in a tuple of strings :  rectangle

47. Find the shortest string in a tuple of strings.

In [154]:
tup=('cicle','rectangle','traingle','square')
print("shortest string in a tuple of strings : ",min(tup, key=len))

shortest string in a tuple of strings :  cicle

48. Create a tuple of the first `n` triangular numbers.

In [155]:
def traingular_number(n):
    tup=tuple(int((i*(i+1))/2) for i in range(n))
    print(f' triangular numbers of first {n} is : {tup}')
n=5
traingular_number(n)

 triangular numbers of first 5 is : (0, 1, 3, 6, 10)

49. Check if a tuple contains another tuple as a subsequence.

In [156]:
def tuple_subsequence(subsequence,tup):
    index=0
    for i in tup:
        if i==subsequence[index]:
            index+=1
            if index== len(subsequence):
                return True
    return False
tup=(23,43,47,65,32)
subsequence=(65,32)
print(" is tuple contains another tuple as a subsequence : ",tuple_subsequence(subsequence,tup))

 is tuple contains another tuple as a subsequence :  True

50. Create a tuple of alternating 1s and 0s of length `n`

In [157]:
n=eval(input ('enter the number  : '))
tup=tuple(i%2 for i in range(n))
print(' alternating tuple of 1s and 0s :',tup)

enter the number  : 10
 alternating tuple of 1s and 0s : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# SET Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [158]:
myset={i for i in range(1,6)}
print('set with integers from 1 to 5',myset)
type(myset)

set with integers from 1 to 5 {1, 2, 3, 4, 5}

set

2. Add an element to a set.

In [159]:
myset={1, 2, 3, 4, 5}
n=45
myset.add(n)
print(f'add {n} in set {myset}')

add 45 in set {1, 2, 3, 4, 5, 45}

3. Remove an element from a set.

In [160]:
myset={1, 2, 3, 4, 5}
n=5
myset.remove(n)
print(f'add {n} in set {myset}')

add 5 in set {1, 2, 3, 4}

4. Check if an element exists in a set.

In [161]:
myset={1, 2, 3, 4, 5}
element=4
if element in myset:
    print(f'{element} present in this set')
else:
     print(f'{element} not present in this set')

4 present in this set

5. Find the length of a set without using the `len()` function.

In [162]:
myset={13,42,33, 24,15}
print('length of set ',len(myset))

length of set  5

6. Clear all elements from a set.

In [163]:
myset={13,42,33, 24,15}
myset.clear()
myset

set()

7. Create a set of even numbers from 1 to 10.

In [164]:
myset=set()
for i in range(1,11):
    if i%2==0:
        myset.add(i)
print('even numbers from 1 to 10 ',myset)

even numbers from 1 to 10  {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [165]:
myset=set()
for i in range(1,11):
    if i%2!=0:
        myset.add(i)
print('odd numbers from 1 to 10 ',myset)

odd numbers from 1 to 10  {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [166]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9}
print('union of two sets',s1.union(s2))

union of two sets {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [167]:
s1={2, 4, 7, 8, 13}
s2={1, 3, 5, 7, 9}
print('intersection of two sets',s1.intersection(s2))

intersection of two sets {7}

11. Find the difference between two sets.

In [168]:
s1={1,3, 7, 8, 10}
s2={1, 3, 5, 7, 9}
print('differece between two sets',s1.difference(s2))

differece between two sets {8, 10}

12. Check if a set is a subset of another set.

In [169]:
s1={1,3, 7, 8, 10}
s2={1, 3, 7}
print('differece between two sets',s2.issubset(s1))

differece between two sets True

13. Check if a set is a superset of another set.

In [170]:
s1={11,37, 72, 14, 10}
s2={14, 37, 72}
if s2.issubset(s1):
     print('set1 is a superset of set2 ')
else:
    print(" set1 is not a superset of  set2")

set1 is a superset of set2

14. Create a set from a list.

In [171]:
lst=[11,37, 72, 14, 10]
myset=set(lst)
print(' set from a list',myset)

 set from a list {37, 72, 10, 11, 14}

15. Convert a set to a list.

In [172]:
myset={37, 72, 10, 11, 14}
lst=list(myset)
print(' set to a list',lst)

 set to a list [37, 72, 10, 11, 14]

16. Remove a random element from a set.

In [173]:
myset={37, 72, 10, 11, 14}
random_element=random.choice(list(myset))
myset.remove(random_element)
print('set is : ',myset)
print('random element is',random_element)
print("updated set is ",myset)

set is :  {37, 10, 11, 14}
random element is 72
updated set is  {37, 10, 11, 14}

17. Pop an element from a set.

In [174]:
myset={37, 72, 10, 11, 14}
print('set is : ',myset)
x=myset.pop()
print('poped element is',x)
print("updated set is ",myset)

set is :  {37, 72, 10, 11, 14}
poped element is 37
updated set is  {72, 10, 11, 14}

18. Check if two sets have no elements in common.

In [175]:
s1={2, 4, 7, 8, 13}
s2={1, 3, 5, 9}
s=s1.intersection(s2)
if s:
    print('common element between set1 and set2',s)
else:
     print('No common element between set1 and set2')

No common element between set1 and set2

19. Find the symmetric difference between two sets

In [176]:
s1={2,3,5,8, 13}
s2={1, 3, 5, 9}
symmetric_difference=s1^s2
print(" symmetric difference between two sets ",symmetric_difference)

 symmetric difference between two sets  {1, 2, 8, 9, 13}

20. Update a set with elements from another set.

In [177]:
s1={2,3,5,8}
s2={1, 3, 5, 4}
s1.update(s2)
print(" symmetric difference between two sets ",s1)

 symmetric difference between two sets  {1, 2, 3, 4, 5, 8}

21. Create a set of the first 5 prime numbers.

In [178]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers = set()
number = 2

while len(prime_numbers) < 5:
    if is_prime(number):
        prime_numbers.add(number)
    number += 1

print("Set of the first 5 prime numbers:", prime_numbers)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [179]:
s1={2, 3, 5, 7, 11}
s2={5, 3, 5, 7, 11}
if s1==s2:
    print('sets is identical')
else:
    print('sets is not identical')

sets is not identical

23. Create a frozen set.

In [180]:
frozen=[1,2,3,4]
frozen=frozenset(frozen)
frozen

frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set.

In [181]:
set1={2,3,4,5,6}
set2={7,8,9,10}
print(" set is disjoint with another set : ",set1.isdisjoint(set2))

 set is disjoint with another set :  True

25. Create a set of squares of numbers from 1 to 5.

In [182]:
s1=set()
for i in range(1,6):
    x=i**2
    s1.add(x)
print('set of squares of numbers from 1 to 5 :',s1)

set of squares of numbers from 1 to 5 : {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [183]:
set1={12,43,55,76,69}
even=set()
for i in set1:
    if i%2!=0:
        even.add(i)
print('all even numbers from a set :',even)

all even numbers from a set : {43, 69, 55}

27. Multiply all elements in a set by 2.

In [184]:
set1={12,43,55,76,69}
even=set()
for i in set1:
    x=i*2
    even.add(x)
print('all elements in a set is multiply  by 2:',even)

all elements in a set is multiply  by 2: {138, 110, 86, 24, 152}

28. Create a set of random numbers.

In [185]:
import random
set1=set()
for i in range(10):
    set2=random.randint(1,100)
    set1.add(set2)
print(set1)

{64, 37, 46, 80, 54, 87, 24, 25, 93, 31}

29. Check if a set is empty.

In [186]:
set1 = {}

if not set1:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [187]:
set1={2,3,4,5,6}
set2={7,8,9,10}
set1=frozenset(set1)
set2=frozenset(set2)
nested_set={set1,set2}
print("nested set with frozenset : ",nested_set)

nested set with frozenset :  {frozenset({8, 9, 10, 7}), frozenset({2, 3, 4, 5, 6})}

31. Remove an element from a set using the discard method

In [188]:
set1={2,3,4,5,6}
print("original set : ",set1)
set1.discard(3)
print("updated set",set1)

original set :  {2, 3, 4, 5, 6}
updated set {2, 4, 5, 6}

32. Compare two sets.

In [189]:
set1={2,3,4,5,6}
set2={7,3,9,5}
# check set1 is subset of set2
subset = set1.issubset(set2)

# check set1 is subset of set2

superset = set1.issuperset(set2)

# check common element between set1 & set2

intersection = set1.intersection(set2)

# union of  set1 & set2

union = set1.union(set2)

#Elements in set1 but not in set2

difference1 = set1.difference(set2)

#Elements in set2 but not in set1

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2: ", set2)
print(" Is set1 is a subset of set2 :", subset)
print("Is set2 is a subset of set1 :", superset)
print("common element between set1 & set2 :", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {2, 3, 4, 5, 6}
Set 2:  {9, 3, 5, 7}
 Is set1 is a subset of set2 : False
Is set2 is a subset of set1 : False
common element between set1 & set2 : {3, 5}
Union: {2, 3, 4, 5, 6, 7, 9}
Elements in set1 but not in set2: {2, 4, 6}
Elements in set2 but not in set1: {9, 7}

33. Create a set from a string.

In [190]:
string="string"
print('string is :',string)
set1=set(string)
print("string to set",set1)

string is : string
string to set {'t', 'i', 'g', 'n', 'r', 's'}

34. Convert a set of strings to a set of integers.

In [191]:
string={'123','456','789'}
print("set of string",string)
inte=set()
for i in string:
    integer=int(i)
    inte.add(integer)
print('set of integer',inte)

set of string {'456', '123', '789'}
set of integer {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [192]:
integer={456, 123, 789}
print("set of integer",integer)
string=set()
for i in integer:
    str1=str(i)
    string.add(str1)
print('set of string',string)

set of integer {456, 123, 789}
set of string {'123', '456', '789'}

36. Create a set from a tuple.

In [193]:
tup=(45,65,63,78,43)
print("tuples are : ",tup)
print("set from a tuple : ",set(tup))

tuples are :  (45, 65, 63, 78, 43)
set from a tuple :  {65, 43, 45, 78, 63}

37. Convert a set to a tuple.

In [194]:
set1= {65, 43, 45, 78, 63}
print("set are : ",set1)
print("tuple from a set are",tuple(set1))

set are :  {65, 43, 45, 78, 63}
tuple from a set are (65, 43, 45, 78, 63)

38. Find the maximum value in a set.

In [195]:
set1= {65, 43, 45, 78, 63}
print(" maximum value in a set",max(set1))

 maximum value in a set 78

39. Find the minimum value in a set.

In [196]:
set1= {65, 43, 45, 78, 63}
print(" manimum value in a set",min(set1))

 manimum value in a set 43

40. Create a set from user input.

In [197]:
user_input = input("Enter elements separated by spaces: ")

input_elements = user_input.split()


user_set = set(input_elements)

print("The created set is:", user_set)

Enter elements separated by spaces: 1 2 3 4 t y
The created set is: {'4', 't', '2', 'y', '1', '3'}

41. Check if the intersection of two sets is empty.

In [198]:
set1={2,3,4,5,6}
set2={7,3,9,5}
intersection = set1.intersection(set2)
print("common element between set1 & set2 :", intersection)

common element between set1 & set2 : {3, 5}

42. Create a set of the first 5 Fibonacci numbers.

In [199]:
def fibonacci_numbers(n):
    fibo=set()
    a,b=0,1
    for i in range(n):
        fibo.add(a)
        a,b=b,a+b
        
    return fibo
n=6
print(' first 5 Fibonacci numbers : ',fibonacci_numbers(n))

 first 5 Fibonacci numbers :  {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [200]:
set1=[12,32,45,32,45,67]
print("original list",set1)
print("updated list without duplicates item",set(set1))

original list [12, 32, 45, 32, 45, 67]
updated list without duplicates item {32, 67, 12, 45}

44. Check if two sets have the same elements, regardless of their count.

In [201]:
def same_elements(set1, set2):
    return set1.symmetric_difference(set2) == set()
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 1}
set3 = {1, 1, 2, 3, 4}  # Note: Duplicate elements in a set are ignored
set4 = {1, 2, 3, 5}

print(same_elements(set1, set2))  # True
print(same_elements(set1, set3))  # True
print(same_elements(set1, set4))  # False

True
True
False

45. Create a set of the first `n` powers of 2.

In [202]:
n=6
s1=set()
for i in range (1,n):
    x=i**2
    s1.add(x)


print(f"set of the first {n} powers of 2 {s1}")

set of the first 6 powers of 2 {1, 4, 9, 16, 25}

46. Find the common elements between a set and a list.

In [203]:
lis=[2,3,4,5,6]
print("list is : ",lis)
set1={7,3,9,5}
print('set is : ',set1)
list_to_set=set(lis)
print("common elements between a set and a list : ", list_to_set.intersection(set1))

list is :  [2, 3, 4, 5, 6]
set is :  {9, 3, 5, 7}
common elements between a set and a list :  {3, 5}

47. Create a set of the first `n` triangular numbers.

In [204]:
def triangular_numbers(n):
    num=set(int(i*(i+1)/2)for i in range(n))
    print(f"set of the first {n} triangular numbers {num}")
n=10
triangular_numbers(n)

set of the first 10 triangular numbers {0, 1, 3, 36, 6, 10, 45, 15, 21, 28}

48. Check if a set contains another set as a subset.

In [205]:
set1={2,6,9,5}
set2={2,5}
subset=set2.issubset(set1)
if subset:
    print("set2 is subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [206]:
def alternate_set(n):
    set1=set()
    for i in range(n):
        if i%2==0:
            set1.add(1)
        else:
            set1.add(0)
    return set1
n=10
print(f"set of alternating 1s and 0s of length {n} : {alternate_set(n)}")

set of alternating 1s and 0s of length 10 : {0, 1}

50. Merge multiple sets into one.

In [207]:
set1={2,6,9,5}
set2={21,15}
set3={23,87,86,45}
merge=set1.union(set2,set3)
print("multiple merge set is",merge)

multiple merge set is {2, 5, 6, 9, 45, 15, 21, 86, 23, 87}